<template>
  <q-page padding class="bg-grey-3 colum">
    <h5 class="q-mt-none">Todo</h5>
    <div class="row q-pa-sm bg-primary">
      <q-input
        v-model="newTask"
        @keyup.enter="addTask"
        class="col"
        square
        filled
        dense
        bg-color="white"
        placeholder="Title"
      >
        <template v-slot:append>
          <q-btn round dense flat icon="add" @click="addTask" />
        </template>
      </q-input>
    </div>
    <div>
      <q-list class="bg-white">
        <div v-for="(task, i) in tasks" :key="i">
          <q-item>
            <q-item-section
              side
              top
              @click="task.done = !task.done"
              clickable
              :class="{ done: task.done }"
            >
              <q-item-label caption>5 min ago</q-item-label>
              <q-checkbox v-model="task.done" color="primary" />
            </q-item-section>
            <q-item-section>
              <q-item-label>{{ task.title }}</q-item-label>
              <q-item-label caption lines="2">상세 내용</q-item-label>
            </q-item-section>

            <q-item-section
              v-if="task.done"
              side
              top
              @click.stop="deleteTask(i)"
            >
              <q-item-label caption>삭제</q-item-label>
              <q-btn flat round dense color="primary" icon="delete" />
            </q-item-section>
          </q-item>
          <q-separator spaced inset />
        </div>
      </q-list>
    </div>
    <div v-if="!tasks.length" class="no-task absolute-center">
      <q-icon name="check" size="100px" color="primary" />
      <div class="text-h5 text-primary text-center">No Tasks</div>
    </div>
  </q-page>
</template>

<script>
import { defineComponent, ref } from 'vue'
import { useQuasar } from 'quasar'

export default defineComponent({
  name: 'Todo',
  setup() {
    const $q = useQuasar()
    const color = ref('red')
    const newTask = ref('')

    const addTask = () => {
      tasks.value.push({
        title: newTask.value,
        done: false,
      })
      newTask.value = ''
    }
    const tasks = ref([])

    const deleteTask = (index) => {
      $q.dialog({
        title: 'Confirm',
        message: 'Really delete?',
        cancel: true,
        persistent: true,
      })
        .onOk(() => {
          tasks.value.splice(index, 1)
          $q.notify('Task delete')
        })
        .onCancel(() => {
          console.log('>>>> Cancel')
        })
    }
    return {
      tasks,
      color,
      newTask,
      addTask,
      deleteTask,
    }
  },
})
</script>

<style lang="sass">
.done
  .q-item__label
    text-decoration: line-through
    color: #bbb

.no-task
  opacity: 0.3
</style>
