<template>
  <q-layout view="lHh Lpr lFf">
    <q-header>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />
      </q-toolbar>

      <div class="q-px-lg q-pt-xl q-mb-md">
        <div class="text-h3">Todo</div>
        <div class="text-subtitle1">{{ tDate }}</div>
      </div>

      <q-img
        src="images/mount_001_1920.jpg"
        class="header-image absolute-top"
      />
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      :width="250"
      :breakpoint="600"
    >
      <q-scroll-area class="side-logo">
        <q-list padding>
          <q-item clickable v-ripple to="/todo">
            <q-item-section avatar>
              <q-icon name="note" />
            </q-item-section>

            <q-item-section>Todo</q-item-section>
          </q-item>
          <q-item clickable v-ripple to="/help">
            <q-item-section avatar>
              <q-icon name="help" />
            </q-item-section>

            <q-item-section>Help</q-item-section>
          </q-item>
        </q-list>
      </q-scroll-area>

      <q-img
        class="absolute-top"
        src="images/mount_001_1920.jpg"
        style="height: 192px"
      >
        <div class="absolute-bottom bg-transparent">
          <q-avatar size="56px" class="q-mb-sm">
            <img
              src="https://s.gravatar.com/avatar/8f6bdcc166bab1f6206e012ea5b0d505?s=80"
            />
          </q-avatar>
          <div class="text-weight-bold">KKu Island</div>
          <div>kkuisland@gmail.com</div>
        </div>
      </q-img>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent, ref } from 'vue'
import { date } from 'quasar'

export default defineComponent({
  name: 'MainLayout',
  setup() {
    const leftDrawerOpen = ref(false)
    const tDate = ref()

    setInterval(() => {
      let timeStamp = Date.now()
      tDate.value = date.formatDate(timeStamp, 'dddd D MMMM HH:mm:ss')
    }, 100)

    return {
      leftDrawerOpen,
      tDate,
      toggleLeftDrawer() {
        leftDrawerOpen.value = !leftDrawerOpen.value
      },
    }
  },
})
</script>

<style lang="sass">
.side-logo
  height: calc(100% - 192px)
  margin-top: 192px
  border-right: 1px solid #ddd
.header-image
  height: 100%
  z-index: -1
  opacity: 0.2
  filter: grayscale(100%)
</style>
